
.elements {
  display: block;
  align-items: center;
  justify-items: left;
  white-space: nowrap;
  margin: 10px;}

  .elements img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid transparent;
  background-image: linear-gradient(to right,
      #4a34f1,
      #edf503,
      #4a34f1,
      #edf503);
  background-origin: border-box;
  background-clip: border-box;
  background-size: 300% 100%;
  animation: moveGradient 6s linear infinite;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}
.burger-menu-btn {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #17104f;
  border: 3px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  position: relative;
}

.burger-menu-btn span,
.burger-menu-btn::before,
.burger-menu-btn::after {
  content: "";
  left: 50%;
  position: absolute;
  width: 60%;
  height: 10%;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.3s ease;
}

.burger-menu-btn::before {
  top: 30%;
  transform: translate(-50%, -50%);
}

.burger-menu-btn span {
  top: 50%;
  transform: translate(-50%, -50%);
}

.burger-menu-btn::after {
  top:70%;
  transform: translate(-50%, -50%);
}

.burger-menu-btn.active::before {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.burger-menu-btn.active span {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.burger-menu-btn.active::after {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
@media (max-width: 900px) {
  .elements {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 16px;
    letter-spacing: 1px;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 60px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    z-index: 1000;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    margin: 0px;
    font-family: 'Abeeze', sans-serif;
    box-sizing: border-box;
    transform: translateZ(0); 
    -webkit-transform: translateZ(0);
    -webkit-backdrop-filter: blur(12px);
    isolation: isolate;
  }
.burger-menu-btn {
    display: block;
    margin-left:auto;
  }}
  @media (max-width: 968px) {
  .elements img {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    margin-bottom: 0px;
  }}
  @media (max-width: 400px) {
    .elements { font-size: 14px;}
    .elements img { width: 40px; height: 40px; border: 2px solid transparent;}
    .burger-menu-btn { width: 40px; height: 40px;}
    
  }